@import 'media-mixins';

// Fonts
$main-font: 'Poppins', sans-serif;

// Colours
$primary: #0382f5;
$sec-cold: #37ebed;
$sec-warm: #ff9900;

$white: #f2f2f2;
$black: #141414;
$grey: #252525;
$grey-light: #c7c7c7;

// Measures
$margin-side-m: 20px;
$margin-side-t: 60px;
$margin-side-d: 100px;

$margin-bottom-m: 50px;
$margin-bottom-t: 100px;
$margin-bottom-d: 150px;

$max-width: 1300px;
